* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.name {
	font-size: 5em;
	color: #18ba60;
	font-weight: 900;
	margin: 0;
	margin-top: 1em;
}

.navigation ul {
	list-style: none; 

}

.navigation li{
	display: inline-block;
	margin: 1.5em;
}

.navigation a{
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: .5em;
	color: black;
}

.intro {
	background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.8)), url(pro.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 12em 0;
	color: white;

}

.intro-name  h1{
	font-size: 2.5em;
	text-transform: uppercase;
	margin-top: 0;

}

.intro-name span{
	font-size: 12px;
	display: block;
	margin-top: 10px;
}

.button-intro{
	padding: .5em 2em;
	margin-top: 1em;
	background: green;
	color: white;
	font-weight: 400;
	border: 2px solid #18ba60;
	text-transform: uppercase; 
	transition : all .2s linear;

}


.button-intro:hover{
	background:white;
	color: black;
}

.about{
	padding-top :5em;
	padding-bottom: 0;
	overflow: auto; 
}

.about h4{
	color: #18ba60 ;
}

.content-wrap{
	width: 90%;
	margin: 0 auto;
}
.about-image{
	float: left;
	overflow: hidden;
	margin-top: 2em;
}

.about-par{
	float: right;
	text-align: left;
	overflow: hidden;
	margin-top: 2em; 
	width: 70%;
}

.working{
	margin-top: 5em;
	padding: 7em 0;
 	background: linear-gradient(90deg, rgba(0,0,0,0.7),rgb(24,189,96)) #18ba60;
 	color: white;
}

.content-wrap hr{
	border: 2px solid white;
	width: 100px;
	border-radius: 10px;
	margin-bottom: 3em;
}

.work ul{
	list-style: none;

}
.work li{
	display: inline;
	margin: 2em;
	font-size: 15px;
}
.work a{
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: .5em;
	color: white;
}
.contact{
	padding: 5em 0;
	overflow: auto;
}
.contact h1{
	font-size: 40px;
}
.social ul{
	margin-top: 3em;
	list-style: none;
}
.social li{

	display: inline;
	margin: 2em;
	font-size: 30px;
	border: 2px solid #18ba60 ;
	border-radius: 25px;
	padding: 8px;
	background-color:white;
	transition : all .2s linear;
}
.social li:hover{
	background-color: #18ba60;
}


.social li a{
	text-decoration: none;
	color: black;
}


.footer{
	margin-top: 5em;
	background: black;
	padding: 3em 0;
	color: white;
	overflow: auto;
}
